.listPrice {
  color: #727273;
  margin-bottom: .25rem;
  font-size: 1rem;
}

.sellingPrice {
  color: #3f3f40;
  font-size: 1.25rem;
}

.sellingPriceValue {
  font-size: 2.25rem;
  font-weight: 700;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79B03A;
}

.sellingPriceValue--summary {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2E2E2E;
}

.savings--summary {
  background: #8BC34A;
  border-radius: 1000px;
  align-items: center;
  display: flex;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: .875rem;
}

.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #FFFFFF;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

/*product container*/

.flex-grow-1{
  padding: 0 50px !important;
}

.product-container{
  padding: 0 50px !important;
}

/*breadcrumb*/
:global(.vtex-breadcrumb-1-x-term){
  font-size: 13px;
}

:global(.vtex-breadcrumb-1-x-arrow){
  font-size: 13px;
}

/*product images*/

:global(.vtex-store-components-3-x-caretIcon){
  color: #7300e0;
}

:global(.vtex-store-components-3-x-swiperBullet--active){
  color: #7300e0;
}

:global(.vtex-flex-layout-0-x-flexCol--product-image-block){
  border-right: 1px solid #e4e4e4;
}

/*imagenes de producto*/
:global(.vtex-store-components-3-x-productImagesThumbActive){
  border: 2px solid #7300e0;
}

/*product brand*/

:global(.vtex-store-components-3-x-productBrandContainer){
  font-size: 16px;
  color: #6d6d6d;
  text-transform: uppercase;
  margin-top: 0;
  text-align: left;
  text-decoration: underline;
}

/*vendedor*/

:global(.vtex-flex-layout-0-x-flexRow--product-brand-seller-container){
  margin-bottom: 10px;
}

:global(.vtex-product-price-1-x-sellerName--sellerName){
  text-transform: capitalize;
    margin-left: 5px;
    font-size: 16px;
    color: #5b5b5b;
}

/*Titulo del producto*/

:global(.vtex-flex-layout-0-x-flexRow--product-name) :global(.vtex-store-components-3-x-productBrand--quickview){
  margin-bottom: 20px;
  font-family: Lato,sans-serif!important;
  font-size: 18px;
  font-weight: 900;
  color: #242424;
  text-transform: capitalize;
  line-height: 1.3;
  letter-spacing: .3px;
}

/*reference*/

:global(.vtex-flex-layout-0-x-flexRowContent--identifier-image-container){
  margin-top: 20px;
}

:global(.vtex-flex-layout-0-x-flexCol--identifier-container){
  padding-top: 20px;
}

/*oferta*/
:global(.vtex-rich-text-0-x-container--offer-text){
  justify-content: flex-start !important;
}

.offer-text{
  color:#6d6d6d;
  font-size: 13px;

}

/*buy button*/

:global(.vtex-flex-layout-0-x-flexRow--buy-button){
  width:60%;

}

:global(.vtex-flex-layout-0-x-flexRow--buy-button) :global(.vtex-button){
  background: #7300e0;
  border-radius: 5px;
  border-color: #7300e0;
}

/*bloque de compartir y tarjetas de credito*/

:global(.vtex-flex-layout-0-x-flexRow--share-and-credit-cards) :global(.vtex-flex-layout-0-x-flexRowContent){
  border-top: 1px solid #eee;
}

:global(.vtex-store-components-3-x-imageElement--credit-cards){
  margin-top: 23px;
}