.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

/*contenedor del footer*/
:global(.vtex-store-footer-2-x-footerLayout){
  background: #7300e0;
}

:global(.vtex-store-footer-2-x-socialNetworkLink){
  color: white;
}