:global(.vtex-store-components-3-x-container){
  padding-left: 0;
  padding-right: 0;
}

/* Imagen de promocion en productos organicos*/
:global(.vtex-flex-layout-0-x-flexRowContent--promocion-organicos){
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  height: 45.78px;
  width: 100%;
}

/*logo de Real plaza*/
:global(.vtex-flex-layout-0-x-flexRowContent--menu-sticky-logo-searcher){
  background: #7300e0;
  padding: 0;
  margin: 0;
  height: 74px;
  display: flex;
  justify-content: space-between;
}

/*buscador*/
:global(.vtex-store-components-3-x-searchBarContainer){
  width: 95.43%;
  padding: 0px 15px;
  margin-left: 35px;
}

:global(.vtex-flex-layout-0-x-flexCol--search) :global(.vtex-input-prefix__group){
  border: none;
}

:global(.vtex-flex-layout-0-x-flexCol--search) :global(.vtex-styleguide-9-x-input)::placeholder{
  color: #7300e0;
  font-size: 14px;
}

:global(.vtex-store-components-3-x-searchIcon){
  color: #7300e0
}

/*mi cuenta*/
:global(.vtex-flex-layout-0-x-flexCol--myAccount){
  align-items: center;
}

:global(.vtex-flex-layout-0-x-flexCol--myAccount) :global(.vtex-rich-text-0-x-wrapper){
  color: #fff;
  padding: 0 10px 0 0;
  border-right: 1px solid #fff;
  font-size: 14px;
}

/* carrito de compras*/

:global(.vtex-flex-layout-0-x-flexCol--buyCart) :global(.vtex-minicart-2-x-minicartIconContainer){
  color: #fff;

}


/*Barra de categorias*/
:global(.vtex-flex-layout-0-x-flexRowContent--menu-categorias){
  background: #6800c9;
  height: 49px;
}

:global(.vtex-rich-text-0-x-paragraph){
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  padding-top: 3px;
  letter-spacing: 0.7px;
  cursor: pointer;
  transition: all .3s;
}

:global(.vtex-rich-text-0-x-container){
  align-items: center;
  justify-content: center;
}

:global(.vtex-rich-text-0-x-paragraph):hover{
  border-bottom: 3px solid #fff;
}

:global(.vtex-flex-layout-0-x-flexCol--marcas) :global(.vtex-rich-text-0-x-paragraph){
  color: #ffc841;
}

:global(.vtex-flex-layout-0-x-flexCol--marcas) :global(.vtex-rich-text-0-x-paragraph):hover{
  border-bottom: 3px solid #ffc841;
}

